@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Pacifico&family=Poppins:wght@900&family=Single+Day&display=swap");
body {
  background-color: #729d60;
}
.top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#main-screen {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#memoryLog {
  height: 50vh;
}
#existingMemories {
  width: 30vw;
  border: solid;
  border-color: black;
  border-radius: 12px;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 20px;

  float: top;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  z-index: 1;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 40px;
  overflow: hidden;
}

button {
  padding: 10px 0;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}

.nav {
  background-color: #fcbb65;
  display: flex;
  position: top;
  align-items: center;
  justify-content: space-evenly;
  top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 2;
  z-index: 1;
  font-family: "Single Day", cursive;
  font-weight: bold;
  border-radius: 3px;
}

h1 {
  text-align: center;
  font-family: "Single Day", cursive;
  font-size: 400px;
}

h3 {
  text-align: center;
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(7, 39, 28);
}

#form-container {
  width: 90%;
  max-height: 100vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

input {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 15px;

  background-color: #f9f1e9;
  border: 0px;
  padding: 5px;
  width: 70vw;
  border-radius: 1rem;
  /* display: grid;
  grid-template-columns: 200px 100px 100px;
  grid-template-rows: 50px auto 50px;
  column-gap: 10px;
  row-gap: 15px;
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

img {
  height: 300px;
  width: auto;
}

.body {
  background-color: #729d60;
}

#memmorylog {
  border: 0px;
  background-color: #ffeeb6;
}

label {
  color: white;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
.footer {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
  font-size: 15px;
  overflow: auto;
}

@media (max-width: 768px) {
  .logo {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #main-screen {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .panid-img {
    width: 150px;
    height: auto;
  }

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  #form-container {
    width: 100%;
    margin: 15px;
  }

  #existingMemories {
    width: 90%;
  }

  input {
    font-size: 14px;
  }
}

#existingMemories {
  border-radius: 1rem;
  background-color: #ffeeb6;
  padding-top: 500px;
  margin-left: 30%;
  height: 500px;
  width: 700px;
  position: relative;
  margin-top: 10%;
  display: grid;
  grid-area: center;
  margin: auto;
  /* width: 50%; */
  border: 2px solid green;
  padding: 10px;
  /* white-space: nowrap; */
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.story {
  background-color: #f6d25d;
  border-radius: 1rem;
  margin: 1%;
  padding: 2%;
  width: 650px;
  height: 50px;
  /* white-space: nowrap; */
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-wrap: break-word;
  display: inline-block;
}
.story * {
  display: flex;
  flex-direction: column;
}

/* @media (max-width: 768px) {
  .story {
  }
} */

#subheading {
  padding: 10px;
  border-radius: 3px;
}
