body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #3551b5),
    url("https://images.unsplash.com/photo-1526716173434-a1b560f2065d?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBhbmRhfGVufDB8fDB8fHww");
}

.logo {
  height: 100px;
  width: 80px;
  float: top;
  display: flex;
  gap: 1rem;
  z-index: 1;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 40px;
  overflow: hidden;
}

.nav {
  background-color: #FCBB65;
  display: flex;
  position: top;  
      align-items: center; 
      justify-content: space-evenly; 
      top: 0px; 
  padding-left:30px;
  padding-right:30px;
  gap: 2;
  z-index: 1;
  font-family: "Single Day", cursive;
  font-weight: bold;
  }


h1 {
  text-align: center;
  text-decoration: underline;
  font-family: "Single Day", cursive;
}

h4 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

#form-container {
  background-color: #f9f1e9;
  border: 0px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 80vw;
  border-radius: 1rem;
}

input {
  padding: 8px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  width: 60vw;
}

img {
  height: 300px;
  width: auto;
}

.body {
  background-color: #729d60;
}

#memmorylog {
  border: 0px;
  background-color: #ffeeb6;
}

.footer {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
  font-size: 15px;
  overflow: auto;
}
